@import "../../index.css";

.ItemContainer {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 2px auto;
  text-align: center;
  height: 50px;
  position: relative;
}

.CharacterInfo {
  display: flex;
  width: 320px;
  margin-left: 40px;
  align-items: center;
  height: 32px;
  background: black;
  cursor: pointer;
}

.CharacterInfo:hover {
  color: var(--threat-blue);
}

.Title {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  height: 24px;
}

.Triangle {
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
  border-top: 16px solid black;
  border-right: 16px solid transparent;
}
.ThreatLevel {
  color: var(--threat-blue);
  padding: 0 16px;
}

.Threat {
  position: relative;
  height: 100%;
  width: 48px;
  position: absolute;
}

.Selected {
  color: var(--threat-red);
}
