@import "../../index.css";

.ItemContainer {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 2px auto;
  text-align: center;
  height: 50px;
  position: relative;
  padding-left: 20px;
}

.CharacterInfo {
  display: flex;
  margin-left: 40px;
  align-items: center;
  height: 32px;
  background: black;
  cursor: pointer;
}

.CharacterInfo:hover {
  color: var(--threat-blue);
}

.Title {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  height: 20px;
  margin-right: 16px;
}

.Triangle {
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
  border-top: 16px solid black;
  border-right: 16px solid transparent;
}
.ThreatLevel {
  color: var(--threat-blue);
  padding: 0 16px;
  margin: 0;
}

.Threat {
  position: relative;
  height: 100%;
  width: 48px;
  position: absolute;
}

@media (min-width: 1024px) {
}
