.CharacterListContainer {
  width: 100%;
  padding: 0;
}

.CharacterContainer {
  display: flex;
  flex-direction: column;
}

.ListFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FilterTitle {
  margin: 0;
  color: black;
}

.Select {
  margin-left: 8px;
  height: 20px;
}

.Option {
}

@media (min-width: 1024px) {
  .CharacterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
