.FooterContainer {
  text-align: center;
  background: black;
  padding: 20px;
  width: 100%;

  box-sizing: border-box;
}

.Copyright {
  margin: 0;
}

@media (min-width: 1024px) {
  .FooterContainer {
    position: absolute;
    bottom: 0;
  }
}
