:root {
  --dark-red: #902724;
  --light-red: #f23c27;
  --yellow: #f8ca1a;
  --light-blue: #1b729f;
  --dark-blue: #1a323e;
  --threat-blue: #2da8ec;
  --threat-red: #c64444;
}

body {
  background: var(--yellow);
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  color: rgba(255, 255, 255, 0.932);
}

.Background {
  height: 600px;
  width: 100%;
}

.Inner {
  height: 300px;
  box-sizing: border-box;
}

.Box {
  width: 400px;
  height: 400px;
  margin: -200px auto;
  border: 1px solid black;
}
